<meta charset="UTF-8">
<title>EJS Is Fun</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://kit.fontawesome.com/a00115304d.js" crossorigin="anonymous"></script>
<style>
    body { 
        padding-top:50px; 
    }
    i {
        margin-left: 7px;
    }

    table a:first-child {
        margin-left: 0px;
    }

    table a {
        margin-left: 20px;
    }
</style>