<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table multiplication</title>
  <style>
    body {
      display: grid;
      place-content: center;
      height: 100vh;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    ul {
      margin: 0 auto;
    }
  </style>
</head>

<body>
  <% let nbr= req.query.nbr ?? 1 %>
    <% if (nbr < 1 || nbr> 10) { %>
      Erreur de nombre, il doit être compris entre 1 et 10
    <% } else { %>
      <h3>Table de multiplication de <%= nbr %></h3>
      <ul>
        <% for (i=1; i <=10; i++) { %>
          <li><%= i %> x <%= nbr %> = <%= i*nbr %></li>
    <% } %>
      </ul>
    <% } %>
</body>

</html>